{% block title %}Write Article{% endblock %}
{% block content %}
<div class="login-block">
  <h2 class="now-news-title">Write Article</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card" style="width: 25rem;">
          <div class="card-body">
              <p class="card-text">
                  {{ form.as_p }}
              </p>
          </div>
      </div>
      <button type="submit">Save</button>
  </form>
  <a href="{% url 'article_list' %}">Back to Articles</a>
</div>
{% endblock %}
