{% block title %}Now News{% endblock %}
{% block content %}
<div class="login-block">
  <h2 class="now-news-title">{{ newsletter.title }}</h2>
  <p>{{ newsletter.description }}</p>
  <p>Author: {{ newsletter.author }}</p>
  <p>Created: {{ newsletter.created_at }}</p>
  <h3>Articles</h3>
  <ul>
      {% for article in newsletter.articles.all %}
          <li><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></li>
      {% endfor %}
  </ul>
  <a href="{% url 'newsletter_edit' pk=newsletter.pk %}">Edit Newsletter</a>
  <a href="{% url 'newsletter_list' %}">Back to Newsletters</a>
  <a href="/">Back to Menu</a>
</div>
{% endblock %}
