{% block title %}Newsletter Form{% endblock %}
{% block content %}
<div class="login-block">
  <h2 class="now-news-title">Newsletter</h2>
  <form method="post">
      {% csrf_token %}
      <div class="card" style="width: 25rem;">
          <div class="card-body">
              <p class="card-text">
                  {{ form.as_p }}
              </p>
          </div>
      </div>
      <button type="submit">Save</button>
  </form>
  <a href="{% url 'newsletter_list' %}">Back to Newsletters</a>
</div>
{% endblock %}
